<!DOCTYPE html>
<html>
<head>
    <title>Update Customer</title>
</head>
<body>
    <h1>Update Customer</h1>
    <form action="/customers/update/{{ customer.customer_id }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ customer.name }}" required><br>

        <label for="contact_details">Contact Details:</label>
        <input type="text" id="contact_details" name="contact_details" value="{{ customer.contact_details }}" required><br>

        <label for="account_balance">Account Balance:</label>
        <input type="number" id="account_balance" name="account_balance" value="{{ customer.account_balance }}" required><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>
